Repository jeremi/claim-169: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, docs-i18n-parity

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
        # TypeScript tsconfig files can contain comments (JSONC).
        exclude: ^playground/tsconfig\..*\.json$
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        # mkdocs.yml uses YAML tags for python callables that safe YAML parsing rejects.
        exclude: ^mkdocs\.yml$
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--config, .codespellrc]
        files: ^docs/en/

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all
        language: system
        pass_filenames: false
        files: \.rs$

      - id: docs-i18n-parity
        name: docs i18n parity
        entry: python3 scripts/check-docs-i18n.py
        language: system
        pass_filenames: false
        files: ^docs/

fix(kotlin): align Claim169NotFound error message with core error type
  core/claim169-jni/src/lib.rs
Due: cargo-fmt

ci: add custom CodeQL workflow for java-kotlin analysis
  .github/workflows/codeql.yml
Due: none

ci(codeql): upgrade CodeQL action from v3 to v4
  .github/workflows/codeql.yml
Due: none

feat(kotlin): add Java interop annotations and separate Java docs
  docs/en/sdk/java/api.md
  docs/en/sdk/java/custom-crypto.md
  docs/en/sdk/java/decoding.md
  docs/en/sdk/java/encoding.md
  docs/en/sdk/java/encryption.md
  docs/en/sdk/java/index.md
  docs/en/sdk/java/installation.md
  docs/en/sdk/java/quick-start.md
  docs/en/sdk/java/troubleshooting.md
  docs/en/sdk/kotlin/decoding.md
  docs/en/sdk/kotlin/encryption.md
  docs/en/sdk/kotlin/java-usage.md
  docs/en/sdk/kotlin/quick-start.md
  docs/en/sdk/kotlin/troubleshooting.md
  docs/fr/sdk/java/api.md
  docs/fr/sdk/java/custom-crypto.md
  docs/fr/sdk/java/decoding.md
  docs/fr/sdk/java/encoding.md
  docs/fr/sdk/java/encryption.md
  docs/fr/sdk/java/index.md
  docs/fr/sdk/java/installation.md
  docs/fr/sdk/java/quick-start.md
  docs/fr/sdk/java/troubleshooting.md
  docs/fr/sdk/kotlin/index.md
  docs/fr/sdk/kotlin/java-usage.md
  sdks/kotlin/claim169-core/src/main/kotlin/fr/acn/claim169/Builders.kt
  sdks/kotlin/claim169-core/src/main/kotlin/fr/acn/claim169/Claim169.kt
  sdks/kotlin/claim169-core/src/main/kotlin/fr/acn/claim169/Enums.kt
  sdks/kotlin/claim169-core/src/main/kotlin/fr/acn/claim169/SensitiveData.kt
  sdks/kotlin/claim169-core/src/test/java/fr/acn/claim169/JavaApiTest.java
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/JavaInteropTest.kt
Due: docs-i18n-parity

feat(playground): add photo upload with canvas-based compression
  playground/src/components/IdentityPanel.tsx
  playground/src/components/PhotoUpload.tsx
  playground/src/components/ResultPanel.tsx
  playground/src/components/UnifiedPlayground.tsx
  playground/src/i18n/locales/en.json
  playground/src/i18n/locales/fr.json
  playground/src/lib/image.ts
  sdks/typescript/src/index.ts
Due: none

feat(playground): add photo lightbox, blur optimization, and compression guide
  docs/en/photo-compression-guide.md
  playground/src/components/PhotoUpload.tsx
  playground/src/components/ResultPanel.tsx
  playground/src/lib/image.ts
Due: docs-i18n-parity

fix(playground): fix camera leak, QR export scannability, and trim demo data
  playground/public/sample_id_pictures/README.md
  playground/public/sample_id_pictures/sample_id_1.png
  playground/public/sample_id_pictures/sample_id_2.png
  playground/public/sample_id_pictures/sample_id_3.png
  playground/public/sample_id_pictures/sample_id_4.png
  playground/src/components/QrScanner.tsx
  playground/src/components/ResultPanel.tsx
  playground/src/components/UnifiedPlayground.tsx
Due: none

refactor(kotlin)!: expose SDK models/errors under fr.acn.claim169
  .github/workflows/docs.yml
  docs/en/sdk/java/api.md
  docs/en/sdk/java/decoding.md
  docs/en/sdk/java/encoding.md
  docs/en/sdk/java/encryption.md
  docs/en/sdk/java/quick-start.md
  docs/en/sdk/kotlin/api.md
  docs/fr/sdk/java/encoding.md
  docs/fr/sdk/java/index.md
  docs/fr/sdk/java/quick-start.md
  mkdocs.yml
  scripts/generate-java-api-docs.py
  sdks/kotlin/claim169-core/src/main/kotlin/fr/acn/claim169/Builders.kt
  sdks/kotlin/claim169-core/src/main/kotlin/fr/acn/claim169/Claim169.kt
  sdks/kotlin/claim169-core/src/main/kotlin/fr/acn/claim169/DecoderBuilder.kt
  sdks/kotlin/claim169-core/src/main/kotlin/fr/acn/claim169/EncoderBuilder.kt
  sdks/kotlin/claim169-core/src/main/kotlin/fr/acn/claim169/Enums.kt
  sdks/kotlin/claim169-core/src/main/kotlin/fr/acn/claim169/Errors.kt
  sdks/kotlin/claim169-core/src/main/kotlin/fr/acn/claim169/Models.kt
  sdks/kotlin/claim169-core/src/main/kotlin/fr/acn/claim169/SensitiveData.kt
  sdks/kotlin/claim169-core/src/test/java/fr/acn/claim169/JavaApiTest.java
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/CallbackTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/DecodeBiometricTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/DecodeEdgeCaseTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/DecodeInvalidTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/DecodeValidTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/EdgeCaseDataTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/EncodeDecodeRoundtripTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/EncodeErrorTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/EnumAndJavaInteropTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/JavaInteropTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/PemErrorTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/SecurityTest.kt
Due: docs-i18n-parity

docs(fr): polish photo compression guide
  docs/fr/photo-compression-guide.md
Due: docs-i18n-parity

docs: include photo guide in nav and gate deploy after docs
  .github/workflows/deploy-playground.yml
  mkdocs.yml
Due: none

ci(docs): build wasm before generating ts api docs
  .github/workflows/docs.yml
Due: none

docs: add AI disclosure policy, PR template, and contributor guide improvements
  .github/pull_request_template.md
  CONTRIBUTING.md
  docs/en/contributing.md
  docs/fr/contributing.md
Due: docs-i18n-parity

fix(docs): update version strings to 0.2.0-alpha across all SDK docs
  CHANGELOG.md
  RELEASING.md
  docs/en/sdk/java/index.md
  docs/en/sdk/java/installation.md
  docs/en/sdk/java/troubleshooting.md
  docs/en/sdk/kotlin/index.md
  docs/en/sdk/kotlin/installation.md
  docs/en/sdk/kotlin/troubleshooting.md
  docs/en/sdk/python/api.md
  docs/en/sdk/python/installation.md
  docs/en/sdk/rust/installation.md
  docs/en/sdk/rust/troubleshooting.md
  docs/en/sdk/typescript/installation.md
  docs/fr/sdk/java/installation.md
  docs/fr/sdk/python/installation.md
  docs/fr/sdk/rust/installation.md
  docs/fr/sdk/rust/troubleshooting.md
  docs/fr/sdk/typescript/installation.md
  scripts/bump-version.sh
Due: docs-i18n-parity

fix(docs): replace version placeholders with 0.2.0-alpha in French docs
  docs/fr/sdk/java/index.md
  docs/fr/sdk/java/installation.md
  docs/fr/sdk/kotlin/index.md
  docs/fr/sdk/kotlin/installation.md
Due: docs-i18n-parity

fix(release): escape regex special characters in bump-version.sh
  scripts/bump-version.sh
Due: none

fix(kotlin): switch Maven publishing to Central Portal endpoint
  sdks/kotlin/claim169-core/build.gradle.kts
Due: none

fix(kotlin): migrate Maven publishing to Central Portal via nexus plugin
  .github/workflows/publish-release.yml
  sdks/kotlin/build.gradle.kts
  sdks/kotlin/claim169-core/build.gradle.kts
Due: none

fix(kotlin): add developers block to POM for Maven Central
  sdks/kotlin/claim169-core/build.gradle.kts
Due: none

feat(playground): add refugee identity example with photo and bilingual name
  playground/public/sample_id_pictures/sample_id_1.webp
  playground/src/components/UnifiedPlayground.tsx
  playground/src/i18n/locales/en.json
  playground/src/i18n/locales/fr.json
  test-vectors/valid/refugee-identity.json
  tools/generate-vectors/src/main.rs
Due: cargo-fmt

feat(playground): portrait crop, ICC stripping, and adjustable photo examples
  playground/src/components/IdentityPanel.tsx
  playground/src/components/PhotoUpload.tsx
  playground/src/components/ResultPanel.tsx
  playground/src/components/UnifiedPlayground.tsx
  playground/src/i18n/locales/en.json
  playground/src/i18n/locales/fr.json
  playground/src/lib/image.ts
Due: none

feat(wasm,playground): add biometric encoding and face photo placement toggle
  core/claim169-wasm/src/lib.rs
  playground/src/components/IdentityPanel.tsx
  playground/src/components/PhotoUpload.tsx
  playground/src/components/UnifiedPlayground.tsx
  playground/src/i18n/locales/en.json
  playground/src/i18n/locales/fr.json
  sdks/typescript/src/types.ts
Due: cargo-fmt

chore(tools): add Base45-to-hex decoding script
  tools/base45_to_hex.py
Due: none

feat(tools): add QR inspection script for CBOR/COSE/CWT analysis
  tools/inspect_qr.py
Due: none

feat(tools): add compression impact analysis tool for QR code data
  Cargo.toml
  tools/compression-analysis/Cargo.toml
  tools/compression-analysis/src/main.rs
Due: cargo-fmt

feat(tools): enhance compression analysis with real images and diverse alphabets
  tools/compression-analysis/src/main.rs
Due: cargo-fmt

refactor(tools): sign all compression scenarios with Ed25519
  tools/compression-analysis/src/main.rs
Due: cargo-fmt

feat(tools): add ICC-stripped WebP scenarios to compression analysis
  tools/compression-analysis/src/main.rs
Due: cargo-fmt

feat(tools): add multi-strategy QR size optimization analysis
  Cargo.toml
  tools/compression-analysis/Cargo.toml
  tools/compression-analysis/src/main.rs
Due: cargo-fmt

docs: add QR size optimization analysis report
  docs/qr-size-optimization-report.md
Due: docs-i18n-parity

fix(playground,typescript): fix hardcoded algorithm and compression in decode path
  playground/src/components/UnifiedPlayground.tsx
  sdks/typescript/src/index.ts
  sdks/typescript/src/types.ts
Due: none

fix(docs): correct Python API examples, badge URL, and Rust MSRV
  docs/en/index.md
  docs/en/sdk/python/installation.md
  docs/en/sdk/rust/index.md
  docs/en/sdk/rust/installation.md
  docs/fr/index.md
  docs/fr/sdk/python/installation.md
  docs/fr/sdk/rust/index.md
  docs/fr/sdk/rust/installation.md
Due: docs-i18n-parity

docs: expand getting started with walkthrough and improve site infrastructure
  docs/en/404.md
  docs/en/changelog.md
  docs/en/getting-started.md
  docs/fr/404.md
  docs/fr/changelog.md
  docs/fr/getting-started.md
  mkdocs.yml
  overrides/main.html
Due: docs-i18n-parity

test(docs): add doc example tests for Python, Rust, and TypeScript
  core/claim169-core/tests/doc_examples.rs
  core/claim169-python/tests/test_doc_examples.py
  sdks/typescript/tests/doc-examples.test.ts
Due: cargo-fmt

docs: remove photo compression guide
  docs/en/photo-compression-guide.md
  docs/fr/photo-compression-guide.md
  mkdocs.yml
Due: docs-i18n-parity

refactor(kotlin)!: rename claim169/cwtMeta DSL builders to claim169Data/cwtMetaData
  docs/en/sdk/kotlin/encoding.md
  docs/en/sdk/kotlin/encryption.md
  docs/en/sdk/kotlin/index.md
  docs/en/sdk/kotlin/quick-start.md
  docs/fr/sdk/kotlin/encoding.md
  docs/fr/sdk/kotlin/quick-start.md
  sdks/kotlin/claim169-core/src/main/kotlin/fr/acn/claim169/Builders.kt
  sdks/kotlin/claim169-core/src/main/kotlin/fr/acn/claim169/Claim169.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/CallbackTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/DecodeBiometricTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/EdgeCaseDataTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/EncodeDecodeRoundtripTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/EncodeErrorTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/EnumAndJavaInteropTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/JavaInteropTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/SecurityTest.kt
Due: docs-i18n-parity

feat(python): add biometric field support to Claim169Input for encoding
  core/claim169-python/python/claim169/__init__.pyi
  core/claim169-python/src/lib.rs
  core/claim169-python/tests/test_encode.py
  docs/en/sdk/python/encoding.md
  docs/fr/sdk/python/encoding.md
Due: cargo-fmt, docs-i18n-parity

fix(docs): skip empty mermaid nodes to prevent render errors
  docs/assets/js/mermaid-init.js
Due: docs-i18n-parity

feat(core): add multi-issuer key resolution support
  core/claim169-core/src/crypto/software/ecdsa.rs
  core/claim169-core/src/crypto/software/ed25519.rs
  core/claim169-core/src/decode.rs
  core/claim169-core/src/lib.rs
  core/claim169-core/src/pipeline/cose.rs
  core/claim169-core/src/pipeline/encode.rs
  core/claim169-core/src/pipeline/mod.rs
  core/claim169-core/tests/doc_examples.rs
  core/claim169-jni/src/lib.rs
  core/claim169-python/python/claim169/__init__.py
  core/claim169-python/src/lib.rs
  core/claim169-python/tests/test_doc_examples.py
  core/claim169-python/tests/test_inspect.py
  core/claim169-wasm/src/lib.rs
  sdks/kotlin/claim169-core/src/main/kotlin/fr/acn/claim169/Claim169.kt
  sdks/kotlin/claim169-core/src/main/kotlin/fr/acn/claim169/Models.kt
  sdks/kotlin/claim169-core/src/main/kotlin/uniffi/claim169_jni/claim169_jni.kt
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/InspectTest.kt
  sdks/typescript/src/index.ts
  sdks/typescript/src/types.ts
  sdks/typescript/tests/inspect.test.ts
Due: cargo-fmt
