Repository jeremi/claim-169: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, docs-i18n-parity

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
        # TypeScript tsconfig files can contain comments (JSONC).
        exclude: ^playground/tsconfig\..*\.json$
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        # mkdocs.yml uses YAML tags for python callables that safe YAML parsing rejects.
        exclude: ^mkdocs\.yml$
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--config, .codespellrc]
        files: ^docs/en/

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all
        language: system
        pass_filenames: false
        files: \.rs$

      - id: docs-i18n-parity
        name: docs i18n parity
        entry: python3 scripts/check-docs-i18n.py
        language: system
        pass_filenames: false
        files: ^docs/

fix(ci): satisfy clippy warnings
  core/claim169-core/tests/security_regressions.rs
  core/claim169-python/src/lib.rs
Due: cargo-fmt

fix(docs): avoid innerHTML in mermaid init
  docs/assets/js/mermaid-init.js
Due: docs-i18n-parity

fix(release): remove non-existent doc paths from bump-version script
  scripts/bump-version.sh
Due: none

docs: document GPG signing key for releases
  CLAUDE.md
Due: none

feat(core): add PEM public key format support
  core/claim169-python/python/claim169/__init__.py
  core/claim169-python/python/claim169/__init__.pyi
  core/claim169-python/src/lib.rs
  core/claim169-wasm/src/lib.rs
  sdks/typescript/src/index.ts
  sdks/typescript/src/types.ts
Due: cargo-fmt

feat(playground): add enhanced error display and key format detection
  playground/src/components/ErrorDisplay.tsx
  playground/src/components/IdentityPanel.tsx
  playground/src/components/PipelineDetails.tsx
  playground/src/components/ResultPanel.tsx
  playground/src/components/UnifiedPlayground.tsx
  playground/src/i18n/locales/en.json
  playground/src/i18n/locales/fr.json
  playground/src/lib/errors.ts
  playground/src/lib/utils.ts
Due: none

docs: document PEM and Base64 key format support
  docs/en/core/concepts/keys.md
  docs/en/playground.md
  docs/en/sdk/python/decoding.md
  docs/en/sdk/typescript/decoding.md
  docs/fr/core/concepts/keys.md
  docs/fr/playground.md
  docs/fr/sdk/python/api.md
  docs/fr/sdk/python/decoding.md
  docs/fr/sdk/python/encryption.md
  docs/fr/sdk/typescript/api.md
  docs/fr/sdk/typescript/decoding.md
  docs/fr/sdk/typescript/encryption.md
Due: docs-i18n-parity

chore(deps): update Python SDK lockfile
  core/claim169-python/uv.lock
Due: none

feat(core): add COSE X.509 header extraction (x5bag, x5chain, x5t, x5u)
  core/claim169-core/src/decode.rs
  core/claim169-core/src/lib.rs
  core/claim169-core/src/model/mod.rs
  core/claim169-core/src/model/x509.rs
  core/claim169-core/src/pipeline/cose.rs
  core/claim169-core/src/serde_utils.rs
Due: cargo-fmt

feat(python): expose X509Headers in Python SDK
  core/claim169-python/python/claim169/__init__.pyi
  core/claim169-python/src/lib.rs
Due: cargo-fmt

feat(typescript): add X509Headers interface and WASM bindings
  core/claim169-wasm/src/lib.rs
  sdks/typescript/src/index.ts
  sdks/typescript/src/types.ts
Due: cargo-fmt

test: add bestQualityFingers to demographics-full test vector
  test-vectors/edge/expired.json
  test-vectors/edge/not-yet-valid.json
  test-vectors/edge/unknown-fields.json
  test-vectors/invalid/bad-base45.json
  test-vectors/invalid/bad-zlib.json
  test-vectors/invalid/missing-169.json
  test-vectors/invalid/not-cose.json
  test-vectors/valid/claim169-example.json
  test-vectors/valid/demographics-full.json
  test-vectors/valid/ecdsa-p256-signed.json
  test-vectors/valid/ed25519-signed.json
  test-vectors/valid/encrypted-aes256.json
  test-vectors/valid/encrypted-signed.json
  test-vectors/valid/minimal.json
  test-vectors/valid/with-all-biometrics.json
  test-vectors/valid/with-face.json
  test-vectors/valid/with-fingerprints.json
  tools/generate-vectors/src/main.rs
Due: cargo-fmt

feat(playground): add locationCode, legalStatus, countryOfIssuance fields
  playground/src/components/IdentityPanel.tsx
  playground/src/components/UnifiedPlayground.tsx
  playground/src/i18n/locales/en.json
  playground/src/i18n/locales/fr.json
Due: none

fix(core,typescript): harden X.509 header parsing and validation
  core/claim169-core/src/decode.rs
  core/claim169-core/src/model/x509.rs
  core/claim169-core/src/pipeline/cose.rs
  sdks/typescript/src/index.ts
Due: cargo-fmt

docs: update claim 169 specification to v1.2
  claim_169.md
Due: none

chore: add .gradle to gitignore and remove cached build files
  .gitignore
  sdks/kotlin/.gradle/8.7/checksums/checksums.lock
  sdks/kotlin/.gradle/8.7/checksums/md5-checksums.bin
  sdks/kotlin/.gradle/8.7/checksums/sha1-checksums.bin
  sdks/kotlin/.gradle/8.7/dependencies-accessors/gc.properties
  sdks/kotlin/.gradle/8.7/executionHistory/executionHistory.bin
  sdks/kotlin/.gradle/8.7/executionHistory/executionHistory.lock
  sdks/kotlin/.gradle/8.7/fileChanges/last-build.bin
  sdks/kotlin/.gradle/8.7/fileHashes/fileHashes.bin
  sdks/kotlin/.gradle/8.7/fileHashes/fileHashes.lock
  sdks/kotlin/.gradle/8.7/fileHashes/resourceHashesCache.bin
  sdks/kotlin/.gradle/8.7/gc.properties
  sdks/kotlin/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  sdks/kotlin/.gradle/buildOutputCleanup/cache.properties
  sdks/kotlin/.gradle/buildOutputCleanup/outputFiles.bin
  sdks/kotlin/.gradle/file-system.probe
  sdks/kotlin/.gradle/vcs-1/gc.properties
Due: none

refactor(kotlin): rename package from org.mosip.claim169 to org.acn.claim169
  scripts/conformance-test.sh
  sdks/kotlin/build.gradle.kts
  sdks/kotlin/claim169-android/build.gradle.kts
  sdks/kotlin/claim169-android/consumer-rules.pro
  sdks/kotlin/claim169-core/build.gradle.kts
  sdks/kotlin/claim169-core/src/main/kotlin/org/acn/claim169/Builders.kt
  sdks/kotlin/claim169-core/src/main/kotlin/org/acn/claim169/Claim169.kt
  sdks/kotlin/claim169-core/src/main/kotlin/org/acn/claim169/CryptoInterfaces.kt
  sdks/kotlin/claim169-core/src/main/kotlin/org/acn/claim169/DecoderBuilder.kt
  sdks/kotlin/claim169-core/src/main/kotlin/org/acn/claim169/EncoderBuilder.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/CallbackTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/ConformanceTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/DecodeEdgeCaseTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/DecodeInvalidTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/DecodeValidTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/EncodeDecodeRoundtripTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/TestVectorLoader.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/VersionTest.kt
Due: none

ci: add Maven Central publishing and harden release workflows
  .github/workflows/ci.yml
  .github/workflows/publish-release.yml
  .github/workflows/release.yml
  sdks/kotlin/claim169-core/build.gradle.kts
Due: none

test(kotlin): expand test coverage from 38 to 66 tests
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/CallbackTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/DecodeBiometricTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/EdgeCaseDataTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/EncodeErrorTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/SecurityTest.kt
Due: none

docs: add Kotlin/Java SDK documentation
  CLAUDE.md
  README.md
  docs/en/sdk/kotlin/api.md
  docs/en/sdk/kotlin/custom-crypto.md
  docs/en/sdk/kotlin/decoding.md
  docs/en/sdk/kotlin/encoding.md
  docs/en/sdk/kotlin/encryption.md
  docs/en/sdk/kotlin/index.md
  docs/en/sdk/kotlin/installation.md
  docs/en/sdk/kotlin/quick-start.md
  docs/en/sdk/kotlin/troubleshooting.md
  mkdocs.yml
Due: docs-i18n-parity

fix(kotlin): harden JNI bindings and Kotlin SDK security
  core/claim169-jni/src/lib.rs
  sdks/kotlin/claim169-core/src/main/kotlin/org/acn/claim169/Builders.kt
  sdks/kotlin/claim169-core/src/main/kotlin/org/acn/claim169/CryptoInterfaces.kt
  sdks/kotlin/claim169-core/src/main/kotlin/org/acn/claim169/DecoderBuilder.kt
  sdks/kotlin/claim169-core/src/main/kotlin/org/acn/claim169/EncoderBuilder.kt
  sdks/kotlin/claim169-core/src/main/kotlin/org/acn/claim169/SensitiveData.kt
  sdks/kotlin/claim169-core/src/main/kotlin/uniffi/claim169_jni/claim169_jni.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/CallbackTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/DecodeEdgeCaseTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/PemErrorTest.kt
Due: cargo-fmt

feat(kotlin): improve SDK ergonomics and callback handling
  core/claim169-jni/src/lib.rs
  sdks/kotlin/claim169-core/src/main/kotlin/org/acn/claim169/Builders.kt
  sdks/kotlin/claim169-core/src/main/kotlin/org/acn/claim169/Claim169.kt
  sdks/kotlin/claim169-core/src/main/kotlin/org/acn/claim169/DecoderBuilder.kt
  sdks/kotlin/claim169-core/src/main/kotlin/org/acn/claim169/EncoderBuilder.kt
  sdks/kotlin/claim169-core/src/main/kotlin/org/acn/claim169/Enums.kt
Due: cargo-fmt

fix(docs): restructure Kotlin API reference with proper heading hierarchy
  docs/en/sdk/kotlin/api.md
  scripts/merge-dokka-output.py
Due: docs-i18n-parity

Update claim_169.md
  claim_169.md
Due: none

docs(fr): add kotlin quick summaries
  docs/fr/sdk/kotlin/custom-crypto.md
  docs/fr/sdk/kotlin/decoding.md
  docs/fr/sdk/kotlin/encoding.md
  docs/fr/sdk/kotlin/encryption.md
  docs/fr/sdk/kotlin/index.md
  docs/fr/sdk/kotlin/installation.md
  docs/fr/sdk/kotlin/java-usage.md
  docs/fr/sdk/kotlin/quick-start.md
  docs/fr/sdk/kotlin/troubleshooting.md
Due: docs-i18n-parity

refactor(kotlin): extract mutex helpers and remove duplicate test vectors
  core/claim169-jni/src/lib.rs
  sdks/kotlin/test-vectors/edge/expired.json
  sdks/kotlin/test-vectors/edge/not-yet-valid.json
  sdks/kotlin/test-vectors/edge/unknown-fields.json
  sdks/kotlin/test-vectors/invalid/bad-base45.json
  sdks/kotlin/test-vectors/invalid/bad-zlib.json
  sdks/kotlin/test-vectors/invalid/missing-169.json
  sdks/kotlin/test-vectors/invalid/not-cose.json
  sdks/kotlin/test-vectors/valid/claim169-example.json
  sdks/kotlin/test-vectors/valid/demographics-full.json
  sdks/kotlin/test-vectors/valid/ecdsa-p256-signed.json
  sdks/kotlin/test-vectors/valid/ed25519-signed.json
  sdks/kotlin/test-vectors/valid/encrypted-aes256.json
  sdks/kotlin/test-vectors/valid/encrypted-signed.json
  sdks/kotlin/test-vectors/valid/minimal.json
  sdks/kotlin/test-vectors/valid/with-all-biometrics.json
  sdks/kotlin/test-vectors/valid/with-face.json
  sdks/kotlin/test-vectors/valid/with-fingerprints.json
Due: cargo-fmt

fix: normalize trailing whitespace in spec and test vectors
  claim_169.md
  test-vectors/edge/expired.json
  test-vectors/edge/not-yet-valid.json
  test-vectors/edge/unknown-fields.json
  test-vectors/invalid/bad-base45.json
  test-vectors/invalid/bad-zlib.json
  test-vectors/invalid/missing-169.json
  test-vectors/invalid/not-cose.json
  test-vectors/valid/claim169-example.json
  test-vectors/valid/demographics-full.json
  test-vectors/valid/ecdsa-p256-signed.json
  test-vectors/valid/ed25519-signed.json
  test-vectors/valid/encrypted-aes256.json
  test-vectors/valid/encrypted-signed.json
  test-vectors/valid/minimal.json
  test-vectors/valid/with-all-biometrics.json
  test-vectors/valid/with-face.json
  test-vectors/valid/with-fingerprints.json
Due: none

docs(python): add comprehensive docstrings and text_signature attributes
  core/claim169-python/src/lib.rs
Due: cargo-fmt

feat(kotlin): use enum constants in tests and add interop test suite
  sdks/kotlin/claim169-core/src/main/kotlin/uniffi/claim169_jni/claim169_jni.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/DecodeBiometricTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/DecodeValidTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/EdgeCaseDataTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/EncodeDecodeRoundtripTest.kt
  sdks/kotlin/claim169-core/src/test/kotlin/org/acn/claim169/EnumAndJavaInteropTest.kt
Due: none

build(docs): add API doc generation pipeline with drift checking
  .github/workflows/docs.yml
  pyproject.toml
  scripts/generate-ts-api-docs.sh
  sdks/kotlin/build.gradle.kts
  sdks/kotlin/claim169-core/build.gradle.kts
  sdks/typescript/package-lock.json
  sdks/typescript/package.json
  sdks/typescript/typedoc.json
  uv.lock
Due: none

ci(kotlin): allow passwordless GPG_PRIVATE_KEY signing
  .github/workflows/publish-release.yml
  sdks/kotlin/claim169-core/build.gradle.kts
Due: none

fix(ci): use virtualenv for maturin develop in docs workflow
  .github/workflows/docs.yml
Due: none

fix(docs): revert Python API docs to static content
  docs/en/sdk/python/api.md
Due: docs-i18n-parity

fix(ci): resolve codespell and conformance test failures
  .codespellrc
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/ConformanceTest.kt
Due: none

fix(ci): fix codespell ignore list and conformance Gson serialization
  .codespellrc
  .github/workflows/docs.yml
  sdks/kotlin/claim169-core/src/test/kotlin/fr/acn/claim169/ConformanceTest.kt
Due: none
